                                                                                       <!-- VER STYLES-->
{% extends 'base.html' %}
{% load static %}
{%block content %}
<div class="card" style="width:35rem ;">
    <div class="card-header">Integrantes de la CCVA</div>
    <div class="card-body " >
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam eos, mollitia voluptas quasi maxime dolore, dolorem culpa perspiciatis nemo aliquid fugiat soluta, est rem. Doloribus, itaque delectus. Odio, cupiditate nemo.</p>
        <hr>
        <h2>Integrantes de la camara de comercio:</h2>
        <img src="{% static 'bootstrap/img/integrantes.jpg' %}" alt="..." class="card-img-bottom" >
    </div>
</div>

{% endblock %}


